.task__card {
  width: 60%;
  padding: 2rem;
  box-shadow: $box-shadow;
  background-color: $color-light;

  &--header {
    @include flex(space-between);
    margin-bottom: 1.5rem;
  }

  &--description {
    margin-top: 1.5rem;
    @include flex(center);
  }

  &--hr {
    background-image: linear-gradient(to bottom, rgba($color-red, .75), rgba(0, 0, 0, 0));
    padding: .1rem;
    border: 0;
  }
}