.tasks__table {
  width: 60%;
  border-collapse: collapse;
  box-shadow: $box-shadow;

  &--row {
    transition: all .5s ease-in-out;
    &:hover {
      background-color: $color-lightgrey;
    }
  }

  td {
    border: 1px solid $color-lightgrey;
    padding: .5rem;
  }

  th {
    border: 1px solid $color-grey;
    background-color: $color-grey;
    color: $color-light;
    padding: .5rem 0;
  }
}