@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/base";
@import "base/typography";
@import "components/card";
@import "components/input";
@import "components/table";


.app {
  @include flex(center);
  min-height: 100vh;
  background-color: $color-light;
}